<form action="/result" method="post">
    your name: <input type="text" name="name">
    <br>
    Dojo Location: <select name="location">
        <option value="Riyadh">Riyadh</option>
        <option value="Jeddah">Jeddah</option>
        <option value="Dammam">Dammam</option>
    </select>
    <br>
    <input type="submit">
</form>