<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h1>new Car</h1>

<form action='/users' method='post'>
    car name: <input type="text"  name='name'>
    <br>
    car color: <input type="text" name='color'>
    <br>
    car plate: <input type="text" name="plate">
    <br>
    <button>Add Car</button>

</form>