<form action="/users" method="post">
    your name: <input type="text" name="name">
    <br>
    your age: <input type="text" name="age">
  
    <br>
    <input type="submit">
</form>
<p>name: <%=users.name%></p>
<p>age: <%=users.age%></p>