<body>
    <h1>Here are the Rabbit!</h1>
    <% for (var x in arr) { %>
        <p>Rabbit's json:<%= arr[x] %></p>
        <p>Rabbit's name:<%= arr[x].name %></p>
        <p>Favorite food:<%= arr[x].favorite_food %></p>
        <a href="rabbit/<%= arr[x]._id%>">check this out</a>
        <hr>
    <% } %>
    <a href="/rabbit/new"> Add another Rabbit</a>
</body>