<html>
    <body>
        <h1>Add a new rabbit</h1>
        <form action="/add" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <br>
                <tr>
                    <td>Favorite food:</td>
                    <td><input type="text" name="favorite_food"></td>
                </tr>
                <br>
            </table>
            <input type="submit" value="Submit">
        </form>
        <br>            
    </body>
</html>