<h1>Welcom to Quoting Dojo</h1>
<form action="/quotes" method="post">
    your name: <input type="text" name="name">
    <br>
    your quote  : <input type="text" name="message">
  
    <br>
    <input type="submit" title="Add My Quote!">
</form>
<a href="/quotes">Go to quotes</a>

